<footer class="footer">
  <div class="footer__inner _container">
    <nav class="footer__nav nav-footer">
      <ul class="nav-footer__list">
        <li class="nav-footer__item"><a href="#">Филиалы</a></li>
        <li class="nav-footer__item">|</li>
        <li class="nav-footer__item"><a href="#">Бронирование</a></li>
        <li class="nav-footer__item">|</li>
        <li class="nav-footer__item"><a href="#">Профиль</a></li>
      </ul>
    </nav>
    <div class="footer__contact">
      <span>Контактный номер телефона:</span
      ><a href="tel:88005553535">8 (800) 555-35-35</a>
    </div>
  </div>
</footer>
