@import '../modules/popup.scss';
@import '../modules/product-item.scss';

.branches {
  margin: 130px 0 100px;

  &__title {
    font-size: 60px;

    text-align: center;

    margin-bottom: 35px;
  }

  &__map {
    text-align: center;
  }
}

[data-popup] {
  cursor: pointer;
}

.product-item {
  background-color: var(--white-color-hsl);

  &__picture {
    background-color: var(--gray-color-hsl);
  }
}

.popup__title {
  font-size: 35px;
}