.input-block {
  width: inherit;

  display: flex;
  flex-direction: column;

  gap: 15px;

  &__title {
    font-size: 20px;
  }

  &__list {
    width: inherit;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 40px;
  }

  &__item {
    flex: 1 1 auto;

    > input {
      width: 100%;
      font-size: 20px;

      border-radius: 12px;

      padding: 12px 15px;

      border: none;
    }
  }
}
